# Laravel (src)
src/vendor/
src/node_modules/
src/storage/*
src/.env
src/.env.backup
src/.env.production
src/supervisord.pid
src/public/uploads/

# IDE
/.vscode
/.idea

# Docker
docker/
docker-compose.yml
.env

# Files
my_scripts/
